# Python
__pycache__/
*.pyc
venv/
.env

# Node / Vue
node_modules/
dist/
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# Documentación y SQL
uml/
sql/
docs/

# Configuración
.cursorrules

# Scripts de una sola ejecución
scripts/
